html {
 font-size:large;
 background-color:antiquewhite;
}

h1 {
 border: 1rem solid;
 border-width: 0.5em;
 color:orange
}


p {
 font-family: system-ui;
  font-size: medium;
}

nav li {
  display: inline-block;
  padding: 20px;
  border: 1px solid #555;
}











